<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 只扫描控制器 -->
	<context:component-scan base-package="com.lqc.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	 <!-- 整合Freemarker -->
	 <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	 	<property name="templateLoaderPath" value="/WEB-INF/template/"></property>
	 	<property name="freemarkerSettings">
	 		<props>
	 			<!-- FreeMarker默认每隔5秒检查模板是否被更新，如果已经更新了，就会重新加载并分析模板。 但经常检查模板是否更新可能比较耗时。如果你的应用运行在生产模式下，而且你预期模板不会经常更新，   
            则可以将更新的延迟时间延长至一个小时或者更久。 可以通过为freemarkerSettings属性设置template_update_delay达到这一目的 -->
            	<prop key="template_update_delay">3600</prop>
            	<!-- 设置标签类型 两种：[] 和 <> 。[] 这种标记解析要快些,所以设置成 [] 类型的标签-->
	 			<prop key="tag_syntax">auto_detect</prop>
	 			<prop key="defaultEncoding">UTF-8</prop>
	 			<prop key="output_encoding">UTF-8</prop>
	 			<prop key="locale">zh_CN</prop>
	 			<!--用于解决前端报空指针问题-->
	 			<prop key="classic_compatible">true</prop>
	 			<!-- 去除多余的空格 -->
	 			<prop key="whitespace_stripping">true</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
	 		</props>
	 	</property>
	 </bean>
	 
	 <!-- 配置视图解析器 -->
	 <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	 	<property name="suffix" value=".ftl"></property>
	 	<property name="contentType" value="text/html; charset=UTF-8"/>
	 </bean>
	
	<!-- 两个标准配置 -->
	<!-- 将SpringMVC不能处理的请求交给tomcat -->
	<mvc:default-servlet-handler/>
	<!-- 能支持SpringMVC更高级的一些功能，JSR303校验，快捷的ajax等等，映射动态请求-->
	<!--配置@ResponseBody由fastjson解析-->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
</beans>
